<!-- Four -->
	<section id="items" class="wrapper style1 special fade-up">
		<div class="container">
			<header class="major">
				<h2>Features</h2>
				<p>Rendact is the most advanced CMS built on modern technology.</p>
			</header>
			<div class="box alt">
				<div class="row uniform">
					{% include item.html
						icon="cubes"
						title="JAM Stack"
						text="Built completely in JavaScript, APIs and Markup to run as a modern application on browsers and mobile devices." %}
					{% include item.html
						icon="arrows"
						title="Customizable"
						text="Made from the ground up to be themed and customized for any site, blog or other use that would be needed. Completely flexible." %}
					{% include item.html
						icon="object-ungroup"
						title="Responsive"
						text="Modern users live on phones, tablets and laptops; your apps and websites should do the same. Strict standards makes sure that every site will work flawlessly on every device and meet Googles Page and SEO standards." %}
					{% include item.html
						icon="clock-o"
						title="Instant Loading"
						text="Service workers allow your apps to load nearly instantly and reliably, no matter what kind of network connection your user is on." %}
					{% include item.html
						icon="play"
						title="Fast"
						text="Smooth animations, scrolling, and navigations keep the experience silky smooth." %}
					{% include item.html
						icon="lock"
						title="Secure"
						text="HTTPS secures the connection between you and your users, ensuring your users information is protected and isn't tampered with." %}
					{% include item.html
						icon="bell"
						title="Push Notifications"
						text="Web push notifications makes it easy to re-engage with users by showing relevant, timely, and contextual notifications." %}
					{% include item.html
						icon="mobile"
						title="Add to Home Screen"
						text="Web app install banners give you the ability to let your users quickly and seamlessly add your web app to their home screen." %}
					{% include item.html
						icon="cogs"
						title="Multiple Options"
						text="Everything is made to be customized so your site is yours without limitations or forcing you to a specific schema." %}
					{% include item.html
						icon="code"
						title="Quality Code"
						text="Our selection of modern and best technologies is meant to be transparent and just work while providing the most stable and best experience to you and your visitors" %}
					{% include item.html
						icon="globe"
						title="Modern Hosting"
						text="Hosted on our world class CDN, your site is served from hundreds of servers around the globe simultaneously for speed previously only available to the largest brands." %}
					{% include item.html
						icon="bolt"
						title="Fast and Distributed"
						text="We use the most pervasive content delivery network (CDN) - more than 216,000 servers in over 120 countries and within more than 1,500 networks around the world." %}
					{% include item.html
						icon="leaf"
						title="Great Features"
						text="Using the best technologies enables new features that are unavailable in other platforms." %}
					{% include item.html
						icon="bars"
						title="Versioning"
						text="Every change to your site and content is saved and can instantly be undone or rolled back to previous versions. The ultimate worry free CMS." %}
					{% include item.html
						icon="backward"
						title="Automatic Backups"
						text="The integrity of your data is really important to us. This is why we always store your data in multiple physical locations. In addition to this all paid plans include automatic backups." %}
					{% include item.html
						icon="eye"
						title="Live Data"
						text="Our modern platform allows your site to update live while the user is looking at it without having to reload or refresh the page." %}
					{% include item.html
						icon="life-ring"
						title="Awesome Support"
						text="With the best technology, standards and global CDN hosting you should never need support but we offer community support and 24/7 support for all paid customers." %}
					{% include item.html
						icon="life-ring"
						title="Always up-to-date"
						text="Most website vulnerabilities are due to plugins with known vulnerabilities but are either unable to update or forgotten. Our platform automatically updates safely without any downtime so your site is always secure." %}
				</div>
			</div>
			<footer class="major">
				<ul class="actions">
					<li><a href="/contact/" class="button">Contact us</a></li>
				</ul>
			</footer>
		</div>
	</section>
